<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>冀</key>
<array>
<string>冀A</string>
<string>冀B</string>
<string>冀C</string>
<string>冀D</string>
<string>冀E</string>
<string>冀F</string>
<string>冀G</string>
<string>冀H</string>
<string>冀J</string>
<string>冀R</string>
<string>冀S</string>
<string>冀T</string>
</array>

<key>豫</key>
<array>
<string>豫A</string>
<string>豫B</string>
<string>豫C</string>
<string>豫D</string>
<string>豫E</string>
<string>豫F</string>
<string>豫G</string>
<string>豫H</string>
<string>豫J</string>
<string>豫K</string>
<string>豫L</string>
<string>豫M</string>
<string>豫N</string>
<string>豫P</string>
<string>豫Q</string>
<string>豫R</string>
<string>豫S</string>
<string>豫U</string>
</array>

<key>云</key>
<array>
<string>云A</string>
<string>云A-V</string>
<string>云C</string>
<string>云D</string>
<string>云E</string>
<string>云F</string>
<string>云G</string>
<string>云H</string>
<string>云J</string>
<string>云K</string>
<string>云L</string>
<string>云M</string>
<string>云N</string>
<string>云P</string>
<string>云Q</string>
<string>云R</string>
<string>云S</string>
</array>

<key>辽</key>
<array>
<string>辽A</string>
<string>辽B</string>
<string>辽C</string>
<string>辽D</string>
<string>辽E</string>
<string>辽F</string>
<string>辽G</string>
<string>辽H</string>
<string>辽J</string>
<string>辽K</string>
<string>辽L</string>
<string>辽M</string>
<string>辽N</string>
<string>辽P</string>
</array>

<key>黑</key>
<array>
<string>黑A</string>
<string>黑B</string>
<string>黑C</string>
<string>黑D</string>
<string>黑E</string>
<string>黑F</string>
<string>黑G</string>
<string>黑H</string>
<string>黑J</string>
<string>黑K</string>
<string>黑L</string>
<string>黑M</string>
<string>黑N</string>
<string>黑P</string>
<string>黑R</string>
</array>

<key>湘</key>
<array>
<string>湘A</string>
<string>湘B</string>
<string>湘C</string>
<string>湘D</string>
<string>湘E</string>
<string>湘F</string>
<string>湘G</string>
<string>湘H</string>
<string>湘J</string>
<string>湘K</string>
<string>湘L</string>
<string>湘M</string>
<string>湘N</string>
<string>湘U</string>
</array>

<key>皖</key>
<array>
<string>皖A</string>
<string>皖B</string>
<string>皖C</string>
<string>皖D</string>
<string>皖E</string>
<string>皖F</string>
<string>皖G</string>
<string>皖H</string>
<string>皖J</string>
<string>皖K</string>
<string>皖L</string>
<string>皖M</string>
<string>皖N</string>
<string>皖P</string>
<string>皖Q</string>
<string>皖R</string>
<string>皖S</string>
</array>

<key>鲁</key>
<array>
<string>鲁A</string>
<string>鲁B</string>
<string>鲁C</string>
<string>鲁D</string>
<string>鲁E</string>
<string>鲁F</string>
<string>鲁G</string>
<string>鲁H</string>
<string>鲁J</string>
<string>鲁K</string>
<string>鲁L</string>
<string>鲁M</string>
<string>鲁N</string>
<string>鲁P</string>
<string>鲁Q</string>
<string>鲁R</string>
<string>鲁S</string>
<string>鲁U</string>
<string>鲁V</string>
</array>

<key>新</key>
<array>
<string>新A</string>
<string>新B</string>
<string>新C</string>
<string>新D</string>
<string>新E</string>
<string>新F</string>
<string>新G</string>
<string>新H</string>
<string>新J</string>
<string>新K</string>
<string>新L</string>
<string>新M</string>
<string>新N</string>
<string>新P</string>
<string>新Q</string>
<string>新R</string>
</array>

<key>苏</key>
<array>
<string>苏A</string>
<string>苏B</string>
<string>苏C</string>
<string>苏D</string>
<string>苏E</string>
<string>苏F</string>
<string>苏G</string>
<string>苏H</string>
<string>苏J</string>
<string>苏K</string>
<string>苏L</string>
<string>苏M</string>
<string>苏N</string>
</array>

<key>浙</key>
<array>
<string>浙A</string>
<string>浙B</string>
<string>浙C</string>
<string>浙D</string>
<string>浙E</string>
<string>浙F</string>
<string>浙G</string>
<string>浙H</string>
<string>浙J</string>
<string>浙K</string>
<string>浙L</string>
</array>

<key>赣</key>
<array>
<string>赣A</string>
<string>赣B</string>
<string>赣C</string>
<string>赣D</string>
<string>赣E</string>
<string>赣F</string>
<string>赣G</string>
<string>赣H</string>
<string>赣J</string>
<string>赣K</string>
<string>赣L</string>
<string>赣M</string>
</array>

<key>鄂</key>
<array>
<string>鄂A</string>
<string>鄂B</string>
<string>鄂C</string>
<string>鄂D</string>
<string>鄂E</string>
<string>鄂F</string>
<string>鄂G</string>
<string>鄂H</string>
<string>鄂J</string>
<string>鄂K</string>
<string>鄂L</string>
<string>鄂M</string>
<string>鄂N</string>
<string>鄂P</string>
<string>鄂Q</string>
<string>鄂R</string>
<string>鄂S</string>
</array>

<key>桂</key>
<array>
<string>桂A</string>
<string>桂B</string>
<string>桂C</string>
<string>桂D</string>
<string>桂E</string>
<string>桂F</string>
<string>桂G</string>
<string>桂H</string>
<string>桂J</string>
<string>桂K</string>
<string>桂L</string>
<string>桂M</string>
<string>桂N</string>
<string>桂P</string>
<string>桂R</string>
</array>

<key>甘</key>
<array>
<string>甘A</string>
<string>甘B</string>
<string>甘C</string>
<string>甘D</string>
<string>甘E</string>
<string>甘F</string>
<string>甘G</string>
<string>甘H</string>
<string>甘J</string>
<string>甘K</string>
<string>甘L</string>
<string>甘M</string>
<string>甘N</string>
<string>甘P</string>
</array>

<key>晋</key>
<array>
<string>晋A</string>
<string>晋B</string>
<string>晋C</string>
<string>晋D</string>
<string>晋E</string>
<string>晋F</string>
<string>晋G</string>
<string>晋H</string>
<string>晋J</string>
<string>晋K</string>
<string>晋L</string>
<string>晋M</string>
</array>

<key>蒙</key>
<array>
<string>蒙A</string>
<string>蒙B</string>
<string>蒙C</string>
<string>蒙D</string>
<string>蒙E</string>
<string>蒙F</string>
<string>蒙G</string>
<string>蒙H</string>
<string>蒙J</string>
<string>蒙K</string>
<string>蒙L</string>
<string>蒙M</string>
</array>

<key>陕</key>
<array>
<string>陕A</string>
<string>陕B</string>
<string>陕C</string>
<string>陕D</string>
<string>陕E</string>
<string>陕F</string>
<string>陕G</string>
<string>陕H</string>
<string>陕J</string>
<string>陕K</string>
<string>陕V</string>
</array>

<key>吉</key>
<array>
<string>吉A</string>
<string>吉B</string>
<string>吉C</string>
<string>吉D</string>
<string>吉E</string>
<string>吉F</string>
<string>吉G</string>
<string>吉H</string>
<string>吉J</string>
</array>

<key>闽</key>
<array>
<string>闽A</string>
<string>闽B</string>
<string>闽C</string>
<string>闽D</string>
<string>闽E</string>
<string>闽F</string>
<string>闽G</string>
<string>闽H</string>
<string>闽J</string>
<string>闽K</string>
</array>

<key>贵</key>
<array>
<string>贵A</string>
<string>贵B</string>
<string>贵C</string>
<string>贵D</string>
<string>贵E</string>
<string>贵F</string>
<string>贵G</string>
<string>贵H</string>
<string>贵J</string>
</array>

<key>粤</key>
<array>
<string>粤A</string>
<string>粤B</string>
<string>粤C</string>
<string>粤D</string>
<string>粤E</string>
<string>粤F</string>
<string>粤G</string>
<string>粤H</string>
<string>粤J</string>
<string>粤K</string>
<string>粤L</string>
<string>粤M</string>
<string>粤N</string>
<string>粤P</string>
<string>粤Q</string>
<string>粤R</string>
<string>粤S</string>
<string>粤T</string>
<string>粤U</string>
<string>粤V</string>
<string>粤W</string>
<string>粤X</string>
<string>粤Y</string>
<string>粤Z</string>
</array>

<key>川</key>
<array>
<string>川A</string>
<string>川B</string>
<string>川C</string>
<string>川D</string>
<string>川E</string>
<string>川F</string>
<string>川H</string>
<string>川J</string>
<string>川K</string>
<string>川L</string>
<string>川M</string>
<string>川N</string>
<string>川P</string>
<string>川Q</string>
<string>川R</string>
<string>川S</string>
<string>川T</string>
<string>川U</string>
<string>川V</string>
<string>川W</string>
<string>川X</string>
<string>川Y</string>
<string>川Z</string>
</array>

<key>青</key>
<array>
<string>青A</string>
<string>青B</string>
<string>青C</string>
<string>青D</string>
<string>青E</string>
<string>青F</string>
<string>青G</string>
<string>青H</string>
</array>

<key>藏</key>
<array>
<string>藏A</string>
<string>藏B</string>
<string>藏C</string>
<string>藏D</string>
<string>藏E</string>
<string>藏F</string>
<string>藏G</string>
<string>藏H</string>
<string>藏J</string>
</array>

<key>琼</key>
<array>
<string>琼A</string>
<string>琼B</string>
<string>琼C</string>
<string>琼D</string>
<string>琼E</string>
</array>

<key>宁</key>
<array>
<string>宁A</string>
<string>宁B</string>
<string>宁C</string>
<string>宁D</string>
<string>宁E</string>
</array>

<key>渝</key>
<array>
<string>渝A</string>
<string>渝B</string>
<string>渝C</string>
<string>渝F</string>
<string>渝G</string>
<string>渝H</string>
</array>

<key>京</key>
<array>
<string>京A</string>
<string>京B</string>
<string>京C</string>
<string>京E</string>
</array>

<key>津</key>
<array>
<string>津A</string>
<string>津B</string>
<string>津C</string>
</array>

<key>沪</key>
<array>
<string>沪A</string>
<string>沪B</string>
<string>沪C</string>
<string>沪D</string>
<string>沪R</string>
</array>
</dict>
</plist>
